[color]
	ui = true
[user]
	name = Saher El-Neklawy
	email = saher.neklawy@gmail.com
[alias]
    s = status -s
    st = status
    ss = status -suno
    stt = status -uno
    ci = commit
    br = branch
    co = checkout
    d = diff
    dc = diff --cached
    lg = log -p
    log-compact = log --oneline --decorate
    # list branches sorted by last modified
    b = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"
    # one-line log
    l = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
    # list aliases
    la = "!git config -l | grep alias | cut -c 7-"
[core]
	editor = vim
